{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1
        {
            background-color:deeppink;
            color:white;
        }
        body
        {
            background-color: black;
        }
    </style>
</head>
<body>
    <center>
        <h1>INDIAN TEAM...</h1>
        <img src="{% static 'images/teamindia.webp' %}" alt="No Image" width="400px" height="400px">
    </center>
</body>
</html>